.efas-heroine-wrapper {

    .efas-logo-canvas {
        position: relative;

        img {
            position: absolute;

            &#hospital {
                width: 30.04193548%;
                top: 38.71325301%;
                left: 2.224193548%;
                z-index: 2;
            }

            &#hammer {
                width: 45.64032258%;
                top: 0%;
                left: 13.38064516%;
                z-index: 3;
            }

            &#spark1 {
                width: 13.96451613%;
                top: 39.37108434%;
                left: 0%;
                z-index: 1;
            }

            &#spark2 {
                width: 8.538709677%;
                top: 31.97349398%;
                left: 5.425806452%;
                z-index: 1;
            }

            &#spark3 {
                width: 9.187096774%;
                top: 39.1060241%;
                left: 21.75%;
                z-index: 1;
            }

            &#no-de {
                width: 54.89677419%;
                top: 41.5373494%;
                left: 43.42741935%;
                z-index: 5;
            }

            &#efas-de {
                width: 53.99516129%;
                top: 38.65301205%;
                left: 46.00483871%;
                z-index: 4;
            }

            &#no-fr {
                width: 52.03709677%;
                top: 41.70361446%;
                left: 46.12903226%;
                z-index: 5;
            }

            &#efas-fr {
                width: 51.10483871%;
                top: 38.79518072%;
                left: 48.69677419%;
                z-index: 4;
            }

            &#no-it {
                width: 53.88225806%;
                top: 41.63614458%;
                left: 44.51612903%;
                z-index: 5;
            }

            &#efas-it {
                width: 52.95%;
                top: 38.79518072%;
                left: 47.08387097%;
                z-index: 4;
            }
        }
    }

    &.efas-heroine-loader {
        height: calc(100 * var(--vh, 1vh));
        display: flex;
        @apply justify-center items-center px-0 md:px-20 lg:px-32;

        .efas-heroine-inner {
            max-width: 1700px;
        }

        .efas-logo-canvas {
            img {
                &#hospital {
                    width: 32%;
                    top: 30%;
                    left: 34%;
                    opacity: 0;
                }

                &#hammer {
                    width: 38%;
                    top: 0;
                    left: 47%;
                    transform: rotate(78deg);
                    transform-origin: 67% 100%;
                    opacity: 0;
                }

                &#spark1,
                &#spark2,
                &#spark3 {
                    width: 1%;
                    top: 42%;
                    left: 49%;
                    opacity: 0;
                }

                &#no-de,
                &#efas-de,
                &#no-fr,
                &#efas-fr,
                &#no-it,
                &#efas-it {
                    opacity: 0;
                }
            }
        }
    }
}