.efas-heroine-wrapper {

    .efas-logo-canvas {
        position: relative;

        img {
            position: absolute;

            &#hospital {
                width: 30.04193548%;
                top: 38.71325301%;
                left: 2.224193548%;
                z-index: 2;
            }

            &#hammer {
                width: 45.64032258%;
                top: 0%;
                left: 13.38064516%;
                z-index: 3;
            }

            &#spark1 {
                width: 13.96451613%;
                top: 39.37108434%;
                left: 0%;
                z-index: 1;
            }

            &#spark2 {
                width: 8.538709677%;
                top: 31.97349398%;
                left: 5.425806452%;
                z-index: 1;
            }

            &#spark3 {
                width: 9.187096774%;
                top: 39.1060241%;
                left: 21.75%;
                z-index: 1;
            }

            &#no-de {
                width: 54.89677419%;
                top: 41.5373494%;
                left: 43.42741935%;
                z-index: 5;
            }

            &#efas-de {
                width: 53.99516129%;
                top: 38.65301205%;
                left: 46.00483871%;
                z-index: 4;
            }
        }
    }
}